.btn-group {
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-width: 500px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 15;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 0;
}
.btn-primary {
    background-color: #f45858;
    border: 2px solid black;
}
.btn-primary:hover {
    background-color: #f47f7f;
    border: 2px solid #222;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
  }
.card {
    width: 90%;
    max-width: 470px;
    float: none; 
    display: none;
    margin: 20px auto;
}
.flexCards {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}
.random-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    transition: all 0.3s;
}
.currentCard {
    display: block;
}
header {
    z-index: 15;
}
.favorites-page {
    display: none;
    position: fixed;
    background: #fff;
    color: #222;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: auto;
}
.settings-page {
    display: none;
    position: fixed;
    background: #fff;
    color: #222;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 10;
    overflow: auto;
}
.page-titles {
    text-align: center;
    padding: 5px;
    font-size: 3.5em;
}
hr {
    width: 80%;
    border-color: #222;
    border-width: 2px;
}
.border {
    border: 2px solid #222 !important;
    border-radius: 10px;
    margin: 10px;
}
@media screen and (min-width: 470px) {
    .random-btn {
        margin-top: 30px;
    }
}